@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.section{
	height: 100vh;
}
.brand{
	color: white;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}
.navbar-nav{
	font-family: 'Montserrat';
}
nav{
	background-color: rgba(255,255,255,0);
}
.navbar-nav{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.navbar-brand{
	line-height: 18px;
}
.nav-item{
	padding: 0px 20px !important;
	font-size: 12px;
	color: rgba(0,0,0,1);
	font-weight: bolder;
}
.navbar-nav a:hover{
	color: white;
	text-decoration: none;
}
.navbar-brand{
	color: white !important;
	font-weight: 200;
	letter-spacing: 2px;
}
.side-section{
	background: url(img1.png);
	background-size: cover;
}
.img::after {
	content: "hello";
}
.fa-circle{
	font-size: 6px;
	margin: 0 3px;
}
.item-name{
	font-weight: lighter;
}