body{
	overflow: auto;
}
.full-screen{
	height: 100vh;
}
.box{
	background-color: rgb(249,192,80);
	height: 60vh;
}
.z-index{
	position: absolute;
}
.big-img{
	height: 90vh;
}
.carousel-img{
	width: 100%;
}

/*scroll animation*/
.right, .up, .righ2, .down{
	opacity: 0;
}
.right{
	transform: translateX(-50px);
	transition: all 1s ease-out;
}

.right2{
	transform: translateX(-80px);
	transition: all 1s ease-out;
}
.up{
	transform: translateY(50px);
	transition: all 3s ease-out;
}
.down{
	transform: translateY(-50px);
	transition: all 1s ease-out;	
}
.animRight, .animUp, .animRight2, .animDown{
	opacity: 1;
}
.animUp, .animDown{
	transform: translateY(0);
}
.animRight, .animRight2{
	transform: translateX(0);
}