body{
	overflow: auto;
}
.full-screen{
	height: 100vh;
}
.box{
	background-color: rgb(249,192,80);
	height: 60vh;
}
.z-index{
	position: absolute;
}
.big-img{
	height: 90vh;
}
.carousel-img{
	width: 100%;
}

/*scroll animation*/
.right, .up, .righ2{
	opacity: 0;
}
.animRight, .animUp, .animRight2{
	opacity: 1;
}
.right{
	transform: translateX(-50px);
	transition: all 1s ease-out;
}
.animRight{
	transform: translateX(0);
}
.right2{
	transform: translateX(-80px);
	transition: all 1s ease-out;
}
.animRight2{
	transform: translateX(0);
}
.up{
	transform: translateY(50px);
	transition: all 2s ease-out;
}
.animUp{
	transform: translateY(0);
}